<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ime-switcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3ECD936B1D936AAC00E4E98B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ECD937C1D936AAD00E4E98B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ECD93871D936AAD00E4E98B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
